<div class="box">

  <div class="row">
    <div class="col-sm-12">
      <hr>
      <h2 class="intro-text text-center">
        My Thoughts on <strong>Jury Duty</strong>
        <hr>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">  
      <p>As I'm sitting here in Jury duty today I'm grateful to have a laptop to keep myself busy. Having right to trail by jury, as the instructional videos they just showed are clear to point out, is a great foundation that our country was built on. Looking around at all the people here who undoubtedly have better things to do, however, it's hard to avoid thoughts about inefficiencies within the system.  Here are some thoughts I have on my experience today.</p>
    </div>
  </div>
  <h3>Houston's Jury Assembly Building</h3>
  <div class="row">
    <div class="col-xs-12 col-md-5">
      <%= image_tag "http://ww1.hdnux.com/photos/05/65/70/1531392/3/920x920.jpg", class: "img img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-7">  
      <p>Houston has built a new <%= link_to "jury assembly building", "http://www.chron.com/news/houston-texas/article/For-juror-comfort-Harris-County-finds-some-2078954.php" %> since the last time I had the privilege of attending jury duty. I have to say it's quite an improvement.  The interior is clean and modern, they offer free WiFi which is blazingly fast (I just clocked 130Mb/s download and 30Mb/s upload on a speed test), and there even appears to be a concession stand in the lobby.  Way to go Houston for making my stay here as painless as possible.</p>
    </div>
  </div><!-- end of row -->
 
  <h3>What's working well</h3>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>The jury assembly building is quite nice (see additional praise above).</li>
        <li>Traffic wasn't awful driving in, but I have the luxury of living close to town.</li>
        <li>So far the public servants working here have been very polite and helpful. Thanks!</li>
        <li>Parking was easy enough to find and the walk from the parking lot to the jury assembly building was pleasant enough (it's not summer quite yet). They offer free bus transportation for jury duty, but the bus system isn't convenient for my route.</li>
      </ul>
    </div>
  </div><!-- end of row -->

  <h3>Suggestions for improvement</h3>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>I work downtown so it's not as big of a deal for me, but ultimately a lot of us are still making an unnecessary commute just to sit in a room for a few hours prior to getting dismissed. What if there was a way where we could create an online juror profile and only have to physically attend jury duty if we are pre-selected to serve on a jury? Provide a bigger pool of jurors for lawyers to select online, but force fewer people to come in and sacrifice their day.</li>
        <li>Getting paid for jury duty is somewhat silly.  I think I will make around $10 today for sitting in this room for several hours. Last few times I didn't even take the money because I figure our financially challenged city needs the money more than I do.</li>
        <li>Parking costs $6. This makes getting paid for jury duty even more silly because I will have to use most of my "hard-earned" money just to be here. Paid parking is a hassle. Please make parking free, even if it's taken out of my pay.</li>
        <li>Bus transportation is nice for those who are close, but jurors out in the burbs may find it nice if they were allowed take one of the many HOV lanes coming into the city, even if they were a sole occupant.</li>
      </ul>
    </div>
  </div><!-- end of row -->

</div>
<!-- end of box -->