<div class="box text-justify">

  <div class="row">
    <div class="col-sm-12">
      <hr>
      <h2 class="intro-text text-center">
        Better-than-new <strong>Pizza Reheat</strong>
        <hr>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">I love pizza. The only thing better than pizza is having leftover pizza the next day. The chosen reheat strategy, however, can make or break that day-later indulgence. Here's how I maximize repeat pizza goodness.</p>
    </div>
  </div><!-- end of row -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>The Reheat Strategy</h3>  
      <p>The problem with reheating pizza is the sogginess. Reheating pizza in the microwave tends to result in soggy, droopy pizza. The oven fares better, but the oven takes forever and the pizza still comes out a bit soggy. Sure, the easy solution you might say is to eat cold pizza by avoiding the reheat process altogether, but if you're willing to put in some effort, a nice hot crispy pizza beats cold pizza any day. Try this:</p>
      <ol>
        <li>Put your cold pizza in the microwave for 45 seconds per slice.</li>
        <li>Now place the lukewarm slices on a skillet at medium heat for approximately 5-10 minutes.</li>
        <li>Enjoy your better-than-new reheated pizza.</li>
      </ol>

    </div>
    <div class="col-xs-12 col-md-6">
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/c/c0/Pizza_with_tomatoes.jpg", class: "img img-responsive img-rounded" %>
    </div>
  </div><!-- end of row -->

  <div class="row">
    <div class="col-xs-12">
    <h3>Why it works</h3>
      <p>The skillet toasts the bottom of the crust and ensures there is no sogginess.  Putting cold pizza directly on the skillet, however, often results in burned crust before the cheese on top gets fully melted.  That's why we put it in the microwave first&#8212;to get the cheese started. If you find that the cheese isn't hot enough to your liking, increase microwave time prior to using the skillet. When executed properly, I've ended up with some great pizza that rivals or beats day 1 pie.</p>
      <p>Try it out and let me know what you think!</p>
      <p>Enjoy carefully. Avoid the urge to rethink the meaning of life after this new groundbreaking experience.</p>
    </div>
  </div><!-- end of row -->
  

</div>
<!-- end of box -->