<div class="box text-justify">
  <div class="row">
    <div class="col-sm-12">
      <hr>
      <h2 class="intro-text text-center">
          Tasty Ramen In Houston <strong>(UPDATE)</strong>
      </h2>
      <hr>
      <p class="lead">It's been awhile since I've talked about one of my favorite foods (Ramen) and now there's good reason to do so again. <%= link_to "Ramen Tatsuya", "http://ramen-tatsuya.com/" %>, the amazing Ramen chain from Austin has just opened their first shop in Houston! </p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>Ramen Tatsuya in Houston</h3>
      <p>We had the privilege of trying it out and it does not disappoint. The shop is located off of Westheimer in the Montrose area at <%= link_to "1722 California Street", "https://www.google.com/maps/place/1722+California+St,+Houston,+TX+77006/data=!4m2!3m1!1s0x8640c09ea4f455d5:0x2e3935ef4e4eeb2f?sa=X&ved=0ahUKEwifwLfc4ZTSAhVMzVQKHXrQBggQ8gEIGTAA" %>. It appears that the secret is already out, however, because you can expect lines out the door at peak meal times.  If you're not a fan of waiting to be seated, I recommend you try it at an off-time.</p>
      <p>We have many excellent selections of Ramen around town now.  I feel like Houston has finally made it with the Ramen scene. Other shops have great noodles, or great broth, or great ajitama, but I would say Tatsuya is the only one I've been to so far that has the full package.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-5">
      <%= image_tag @blog.image_link("tatsuya_entrance"), class: "img img-responsive img-rounded" %>
    </div>
  </div><!-- end of row -->
</div>
<div class="box text-justify">
  <div class="row">
    <div class="col-sm-12">
      <h3>Ramen Tatsuya <small>Tonkotsu Original</small></h3>
    </div>
    <div class="col-sm-4 col-md-3">
      <%= image_tag @blog.image_link("tatsuya_with_company"), class: "img img-responsive img-rounded" %>
    </div>
    <div class="col-sm-8 col-md-9">
      <h4>Best all-around Ramen in Houston</h4>
      <p>My Ramen journey started in Austin at Ramen Tatsuya and now it has come full circle. Their location here in Houston is larger than the shop I've been to in Austin, but the decorations are similar and give me the idea that they were going for hipster meets Japanese countryside.  It's the Japanese equivalent of going to La Madeline and spray painting graffiti on the wall.</p>
      <p>We're here for Ramen, not for ambiance though.  Tatsuya is officially my favorite Ramen in Houston now.  The broth was a tad more salty than I remember from Austin, but not terribly so and the flavor was excellent. The noodles were nice and firm. The meat wasn't too fatty and had a smokey flavor. The ajitama was well marinated and the egg yolk was perfectly soft boiled.</p>
      <br/>
      <div class="col-xs-4 col-sm-3">
        <div class="text-center">
          <h4>Noodles</h4>
          <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="text-center">
          <h4>Meat</h4>
          <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="text-center">
          <h4>Broth</h4>
          <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="text-center">
          <h4>Ajitama</h4>
          <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
