<div class="container">

  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>About</strong>
          me
          <hr>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <%= image_tag "me.jpg", class: "img-responsive img-rounded", alt: "me" %>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>What to put here? How about a picture of me being active in the outdoors? Everybody loves when people are active in the outdoors!</p>
        <p>I would say that I'm a person who loves learning and thinking of creative solutions to problems we face on a day-to-day basis.</p>
        <p>Working in the Oil and Gas Industry requires me to expand my engineering skills and challenges me to collaborate with a wide variety of people to be successful.</p>
        <p>My roots are in computing.  I grew up playing 8-bit video games and programming silly things in Basic.  I like to keep my coding skills sharp by learning new languages and working on side projects as a creative outlet.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <h2 class="intro-text text-center">The
          <strong>Team</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <%= image_tag "paisley.jpg", class: "img-responsive img-rounded", alt: "paisley the princess" %>
        <h3>
          <small>princess</small>
          Paisley
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <%= image_tag "duncan.jpg", class: "img-responsive img-rounded", alt: "sir duncan the tall" %>
        <h3>
          <small>sir</small>
          Duncan
          <small>the tall</small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <%= image_tag "tyco.jpg", class: "img-responsive img-rounded", alt: "tyco the muscle" %>
        <h3>Tyco
          <small>the muscle</small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<!-- /.container -->
