<div class="container">

  <div class="box">
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>Projects</strong>
          <hr>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">  
        <p>As a self-proclaimed nerd, I'm compelled to dabble in endeavors to broaded my horizons. Here are some of the projects I've worked on.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- end of box -->

  <div class="box">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to image_tag("projects/swiftgive_logo.png", class: "img img-responsive"), "https://swiftgive.com" %>
      </div>
      <div class="col-sm-8">
        <h4>Free, easy mobile fundraising and tipping</h4>
        <p>Ever felt the need to give a cash tip, but didn't have any bills? This is what lead us to work on Swiftgive. Simply stated, it's a service that allows users to scan unique QR codes from their mobile devices to tip on the spot without needing cash.  Credit card fees are astronomical for small transactions, so the system currently wraps the free Square Cash peer-to-peer payment system. We're constantly on the lookout for an alternative free-or-cheap payment system so if you know one let me know.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div> 
  <!-- end of box -->

  <div class="box">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to image_tag("projects/mtgbazaar_logo.png", class: "img img-responsive"), "https://mtgbazaar-demo.herokuapp.com" %>
      </div>
      <div class="col-sm-8">
        <h4>Free-market platform</h4>
        <p>MTGBazaar launched in 2012 as an alternative marketplace for the niche trading card game, Magic the Gathering. At the time, players were being served primarily by eBay. MTGBazaar delivered optimized search and lower fees to people across the US looking to buy and sell Magic cards. Unfortunately, due to unreconcilable differences among co-founders, the site is no longer active today.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- end of box -->

  <div class="box">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to image_tag("projects/OI_logo.png", class: "img img-responsive"), "http://oilfieldintelligence.com" %>
      </div>
      <div class="col-sm-8">
        <h4>Oilfield service and equipment ratings</h4>
        <p>While working as a drilling engineer supporting expensive deepwater operations, I had direct experience evaluating proposals from contractor service providers. The process was opaque with very little information available to differentiate competitors. Oilfield Intelligence created a free platform where professionals could meet and share reviews on Oil & Gas service providers. As a result of the Deepwater Horizon incident, we wanted to promote openness and learning to reduce the chance of a repeat incident.  An early version was prototyped in Drupal, but the flexibility and power of Ruby on Rails won out in the end. I've been a firm believer in Rails since.</p>      
      </div>
      <div class="clearfix"></div>
    </div>
  </div> 
  <!-- end of box -->

</div>
<!-- /.container -->